@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 0.625rem;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: transparent;
    background: none;
    border: none;
}

:root {
    --first-color: #FF4F00;
    --second-color: #0B61A4;
    --font-color: #333;
    --bg-color: #fff;
    --font-family: "Montserrat Alternates", sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--font-color);
}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 0 2rem;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    html {
        font-size: 0.525rem;
    }
}
.window {
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border: 3px solid var(--first-color);
    border-top: 3px solid var(--second-color);
    border-left: 3px solid var(--second-color);
    border-radius: 2rem;
    box-shadow: 4px 4px 16px rgba(51, 51, 51, 0.4392156863);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.window__title {
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.window__content {
    display: flex;
    flex-direction: column;
}
.window__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.window__link {
    font-family: var(--font-family);
    font-size: 1.4rem;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    color: var(--font-color);
    text-decoration: none;
}
.window__link:last-child {
    text-align: right;
}
.window__link:first-child {
    text-align: left;
}
.window__link:hover {
    text-decoration: underline;
}

.input__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input {
    padding: 1rem;
    font-size: 1.6rem;
    font-family: var(--font-family);
    border-radius: 5px;
    outline: transparent;
    border-color: #333;
}
.input--small {
    font-size: 1.2rem;
    padding: 0.8rem;
}

.btn {
    padding: 1rem;
    font-size: 1.6rem;
    font-family: var(--font-family);
    border-radius: 5px;
    border: 2px solid var(--first-color);
    font-weight: bold;
    background-color: #fff;
    transition: background 0.2s ease;
    color: #333;
    text-decoration: none;
    text-align: center;
}
.btn--small {
    font-size: 1.2rem;
    padding: 0.8rem;
}
.btn:hover {
    color: #fff;
    background-color: var(--first-color);
}

.two-columns {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 5rem;
}

.img {
    display: inline-block;
    min-width: 25rem;
    min-height: 25rem;
    max-width: 30rem;
    max-height: 30rem;
    aspect-ratio: 1/1;
    background-color: rgba(51, 51, 51, 0.1254901961);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.img__change-input {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 5rem;
    padding-top: 1rem;
    background-color: rgba(51, 51, 51, 0.5647058824);
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    transition: bottom 0.2s ease;
}
.img__change-input input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    left: -1000%;
    top: -1000%;
}
.img:hover .img__change-input {
    bottom: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.content__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.content .text {
    font-size: 1.8rem;
    color: #333;
}
.content .btn {
    margin-top: 1.5rem;
}
.content .input--small {
    font-size: 1.8rem;
}

@media (max-width: 650px) {
    .two-columns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content {
        width: 100%;
    }
}
.header {
    width: 100%;
    background-color: var(--second-color);
    padding: 1rem 0;
    position: relative;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 105%;
    border: 2px solid var(--first-color);
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    flex-direction: column;
    z-index: 10000;
    gap: 1rem;
}
.header__menu .title {
    font-size: 1.8rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #333;
}
.header__menu.active {
    display: flex;
}

.header__profile {
    width: 4rem;
    background-color: #fff;
    aspect-ratio: 1/1;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__profile svg {
    stroke: var(--first-color);
    width: 100%;
}

.logo {
    font-family: var(--font-family);
    font-size: 2.2rem;
    color: #fff;
    text-decoration: none;
}

.nav {
    display: flex;
}
.nav__item {
    color: #fff;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.4rem;
    font-family: var(--font-family);
    cursor: pointer;
    position: relative;
}
.nav__item:hover::after {
    content: "";
    display: block;
    width: calc(100% - 4rem);
    height: 2px;
    position: absolute;
    background-color: var(--first-color);
    left: 50%;
    transform: translateX(-50%) translateY(4px);
}

@media (max-width: 510px) {
    .header__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .header__profile {
        justify-self: flex-end;
    }
    .nav {
        grid-row: 2;
        grid-column: 1/3;
    }
    .content__item {
        grid-template-columns: 1fr;
    }
}
.main {
    padding: 3rem 0;
}
.main--aside .main__inner {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    gap: 1rem;
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.aside__title {
    font-size: 2rem;
    width: 100%;
    text-align: center;
}
.aside__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.aside__form {
    display: grid;
    gap: 1rem;
    font-size: 1.4rem;
}

.catalog {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.catalog__select {
    min-width: 120px;
}
.catalog__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.catalog__item {
    display: flex;
    gap: 3rem;
    padding: 1.5rem;
    border-radius: 5px;
    border: 2px solid var(--second-color);
    position: relative;
}

.item__img {
    width: 12rem;
    aspect-ratio: 1/1;
    background-color: #333;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item__title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.item__infos {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.item__info {
    font-size: 1.4rem;
    color: #333;
    border: 1px solid #333;
    padding: 0 1rem;
    border-radius: 5px;
}
.item__controls {
    position: absolute;
    color: var(--font-color);
    top: 0;
    right: 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.item__controls input {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -100;
    top: -100000%;
}
.item__controls::before {
    content: "";
    display: block;
    width: 1em;
    aspect-ratio: 1/1;
    left: 25%;
    top: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
}
.item__btns {
    overflow: hidden;
    position: absolute;
    top: 120%;
    right: 0;
    font-size: 1.6rem;
    gap: 10px;
    display: none;
    flex-direction: column;
    border: 1px solid #333;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
}
.item__btn {
    text-align: center;
}
.item__btn:last-child {
    color: var(--first-color);
}
.item__controls input:checked + .item__btns {
    display: flex;
}

.catalog__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.item__title {
    display: inline-block;
}

@media (max-width: 1024px) {
    .main--aside .main__inner {
        gap: 2rem;
        grid-template-columns: 1fr;
    }
}
@media (max-width: 480px) {
    .catalog__item {
        flex-direction: column;
        align-items: center;
    }
    .catalog__items {
        grid-template-columns: 1fr;
    }
    .item__title {
        width: 100%;
        text-align: center;
    }
    .item__infos {
        justify-content: center;
    }
}
.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.1254901961);
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.modal__content {
    padding: 3rem 6rem;
    background-color: #fff;
    border-radius: 20px;
    font-size: 1.6rem;
    position: relative;
}
.modal__close {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
}
.modal__title {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}
.modal__nav {
    display: grid;
    gap: 2.5rem;
}
.modal__nav a {
    text-align: center;
    padding: 0.5rem 3rem;
    border-bottom: 1px solid var(--first-color);
    cursor: pointer;
}

.central__div{
    width: 50%; 
    margin: 30vh auto;
    text-align: center;
    font-size: 32px;
}