
@{
    ViewBag.Title = "Админка";
}

<a asp-controller="Admin" asp-action="Index">Препораты</a>
<a asp-action="Types">Типы препоратов</a>
<a asp-action="Roles">Роль</a>
<a >Препораты</a>
<a >Препораты</a>