@inject IPreporateTypeRepository types
@inject IProviderRepository providers
@model ML.Mapper.PreporateModel

@{
    ViewBag.Title = "Добавление препората";
}

@functions
{
    SelectList GetTypes()
    {
        return new SelectList(types.GetAll(), "Id", "Name");
    }
    SelectList GetProviders()
    {
        return new SelectList(providers.GetAll(), "Id", "Name");
    }
}

<main class="main">
    <div class="container">
        <div class="main__inner">
            <form enctype="multipart/form-data" asp-action="PreporateUpdate" asp-controller="Card">
                <div class="two-columns">
                    @if (Model.Image == null)
                    {
                        @* <div class="item__img" style="background-image:url('./images/box.png');"></div> *@
                        <div class="img" style="background-image:url('./images/box.png');">
                            <label class="img__change-input">
                                Сменить
                                <input asp-for="ImageFile"/>
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="img" style="background-image: url(data:image;base64,@System.Convert.ToBase64String(Model.Image));">
                            <label class="img__change-input">
                                Сменить
                                <input asp-for="ImageFile"/>
                            </label>
                        </div>
                    }
                    
                    <div class="content">
                        <div class="content__item">
                            <div class="text">Название</div>
                            <input asp-for=Id type="hidden" class="input input--small">
                            <input asp-for="Name" class="input input--small">
                            <div class="text">Дата производства</div>
                            <input asp-for="DateOfProduction" class="input input--small">
                            <div class="text">Цена</div>
                            <input asp-for="Cost" class="input input--small">
                            <div class="text">Количество</div>
                            <input asp-for="Count" class="input input--small">
                            <div class="text">Поставщик</div>
                            <select asp-for="ProviderId" asp-items="@GetProviders()">
                                <option>Выберите поставщика</option>
                            </select>
                            <div class="text">Тип препората</div>
                            <select asp-for="PreporateTypeId" asp-items="@GetTypes()">
                                <option>Выберите тип</option>
                            </select>
                        </div>
                        <input class="btn" type="submit" value="Добавить"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>