@model ML.Mapper.ProviderModel

@{
    ViewBag.Title = @Model.Name;
}

<main class="main">
    <div class="container">
        <div class="main__inner">
            <form asp-action="ProviderUpdate" asp-controller="Card">
                <div class="two-columns">
                    <div class="content">
                        <div class="content__item">
                            <div class="text">Название</div>
                            <input asp-for=Id type="hidden" class="input input--small">
                            <input asp-for="Name" class="input input--small">
                            <div class="text">EMail</div>
                            <input asp-for="EMail" class="input input--small">
                            <div class="text">Адрес</div>
                            <input asp-for="Adress" class="input input--small">
                        </div>
                        <button class="btn" type="submit">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>