@model ML.Mapper.UserModel
@{
    ViewBag.Title = "Кабинет";
}

<main class="main">
    <div class="container">
        <div class="main__inner">
            <form asp-action="UserUpdate">
                <div class="content">"
                    <div class="content__item">
                        <div class="text">Имя</div>
                        <input asp-for=Id type="hidden" class="input input--small">
                        <input asp-for="FirstName" class="input input--small">
                        <div class="text">Фамилия</div>
                        <input asp-for="LastName" class="input input--small">
                        <div class="text">EMail</div>
                        <input asp-for="EMail" class="input input--small">
                        <div class="text">Пароль</div>
                        <input asp-for="Password" class="input input--small">
                        <input hidden="hidden" asp-for="RoleId"/>
                    </div>
                    <button class="btn" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</main>